.containterCreateCourse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    margin-top: 100px;
}

.flexCreate{
    padding-left: 10%;
}

.flexLabalCreate{
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    align-content: center;
    padding-right: 5%;
}

.flexLabelCreateRadio{
    display: flex;
    flex: 1 1;
    justify-content: flex-start;
    gap: 10%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 5%;
}

.formCreate{
    width: 550px;
    background: #86C232;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding-bottom: 5%;
    /* padding-top: 5%; */
    border-radius: 10px;
}

.label-create-course{
    font-weight: bold;
    text-align: center;
    color: black;
}



.create-footer a{
    font-size: 16px;
    color: #000000;

}
.create-footer p{
    font-size: 16px;
}

.create-footer ul{
    display: flex;
}

.create-footer li{
    list-style-type: none;
    padding-left: 250px;
    font-size: 15px;
}

.textArea{
    padding-bottom: 100px;
}
