.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

.form{
    width: 550px;
    background: #CAD2D7;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding-bottom: 20px;
}

.login-form{
    width: 450px;
}

.flex{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

img.home-logo-img{
    width: 70px;
    height: 60px;   
}

.homeLogoSignUp{
    font-family: Verdana;
    font-size: 30px;
    text-decoration: underline;
    line-height: 30px;
}

.heading{
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.inputbox{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.name{
    width: 200px;
    height: 30px;
}

.details{
    height: 30px;
    width: 416px;
}

.buttons{
    gap: 165px;
}

.signup-btns{
    gap: 25px;
}

.button{
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
}

.button:hover{
    background-color: white;
    color: #000000;
    border: 1px solid black;
}

.padding{
    padding-left: 340px;
}

.login-details{
    width: 300px;
}

/* footer */
.home-footer{
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 1px;
    height: 90px;
    background-color:#CAD2D7;
}

.home-footer a{
    font-size: 16px;
    color: #000000;

}
.home-footer p{
    font-size: 16px;
}

.home-footer ul{
    display: flex;
}

.home-footer li{
    list-style-type: none;
    padding-left: 250px;
    font-size: 15px;
}