.button{
    font-size: 12px;
    text-align: center;
    vertical-align:10px;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
}

.button:hover{
    background-color: white;
    color: #000000;
    border: 1px solid black;
}

.button.forgot-password {
    background-color: #86C232;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button.forgot-password:hover {
    background-color: #86C232;
    border: none;
    text-decoration: underline;
}

.button.register-btn {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    width: 100%;
}

.button.signInstructor-btn {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    width: 100%;
}

.button.login-btn {
    font-size: 12px;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    background-color: #9EE493;
    border: none;
    width: 100%;
}

.button.register-btn:hover {
    background-color: white;
    color: #000000;
    /* border: 1px solid black; */
}

.button.signInstructor-btn:hover {
    background-color: white;
    color: #000000;
    /* border: 1px solid black; */
}

.button.login-btn:hover {
    background-color: #86C232;
    color: white;
    /* border: 1px solid black; */
}
.buttons {
    gap: 165px;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    position: absolute;
    left: 100px;
    right: 100px;
    bottom: 100px;
    top: 100px;
}

.containerStd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
}

.details{
    height: 30px;
    width: 416px;
}

.educational-qualification {
    padding: 7px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    border-radius: .3em;
}

.flex {
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;
}

.flexPage2 {
    display: flex;
    padding-bottom: 4%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.flex1 {
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

.flex3 {
    display: flex;
    gap: 15%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-right: 12%;
    margin-left: 12.2%;
}

.flex3Page2 {
    display: flex;
    gap: 15%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.flex4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    margin-top: 4%;
    margin-left: 11%;
}

.flexBox {
    flex: 1;
    /* margin: 0 5px;  */
}

.flexLabel {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding-left: 5%;
}

.flexLabel2 {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    padding-right: 5%;
}

.flexLabelRadio {
    display: flex;
    flex: 1 1;
    justify-content: flex-start;
    gap: 23%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 2%;
}

.form{
    width: 550px;
    background: #9EE493;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

.form2 {
    width: 550px;
    background: #9EE493;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 10px;
}

.heading{
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.heading-stSignup {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    color: black;
    padding-bottom: 20px;
}

.homeLogoSignUp {
    font-family: Verdana;
    font-size: 30px;
    text-decoration: underline;
    line-height: 30px;
}

img.home-logo-img-stSignup {
    width: auto;
    height: auto;
}

.inputbox {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label-eduQual {
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    color: black;
}

.login-btn{
    gap: 120px;
}

.login-details{
    width: 300px;
}

.login-form{
    width: 450px;
    text-align: center; 
}

.name{
    width: 200px;
    height: 30px;
}

.optionGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.padding{
    padding-left: 273px;
}

.richText {
    padding: 7px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    border-radius: .3em;
}

.signup-btns{
    gap: 25px;
}

/* footer */
.home-footer{
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 1px;
    height: 90px;
    background-color:#CAD2D7;
}

.home-footer a{
    font-size: 16px;
    color: #000000;

}
.home-footer p{
    font-size: 16px;
}

.home-footer ul{
    display: flex;
}

.home-footer li{
    list-style-type: none;
    padding-left: 250px;
    font-size: 15px;
}