<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <div class="box">
      <div class="footerContainer">
        <div class="footerRow">
          <a class="footerLink" href="#">About Us</a>
          <a class="footerLink" href="#">Contact Us</a>
          <a class="footerLink" href="#">Terms & Conditions</a>
        </div>
        <hr style="color: white; width: 100%" />
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
          "
        >
          <div style="display: flex; align-items: center">
            <img src="img/Logo White.svg" class="nav-logo" alt="navLogo" />
            <span style="color: white; font-size: 13px; margin-left: 20px"
              >Copyright © 2024 TutorMeister. All rights reserved.</span
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
