<!DOCTYPE html>
<html>
  <head>
    <title>Login | TutorMeister</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" href="img/logo.jpg" type="image/jpg">
    <link rel="stylesheet" href="/css/footer.css" />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
      }

      .container-login {
        flex: 1;
      }
    </style>
    <script>
      function redirectToSignUp(type) {
        if (type === 'student') {
          window.location.href = '/student-register';
        } else if (type === 'instructor') {
          window.location.href = '/instructor-register';
        }
      }

      function validateLoginForm() {
        var username = document.forms["loginForm"]["username"].value;
        var password = document.forms["loginForm"]["password"].value;

        if (username === "" || password === "") {
          alert("Both username/email and password are required");
          return false;
        }
      }
    </script>
  </head>

  <body>
    <div class="container-login">
      <form action="" method="post" class="form login-form"  name="loginForm" onsubmit="return validateLoginForm()">
        <div class="row">
          <div class="flex">
            <div>
              <img
                class="rectangular-logo"
                alt="RectangularLogo"
                src="img/RectangleLogo.png"
              />
            </div>
          </div>
          <h3 class="heading">Log-In</h3>
          <center>
            <input
              type="text"
              name="username"
              class="inputbox details login-details"
              placeholder="Username or email"
            />
          </center>
          <br />
          <br />
          <center>
            <input
              type="password"
              name="password"
              class="inputbox details login-details"
              placeholder="Password"
            />
          </center>
          <br />
          <br />
          <div class="flex buttons login-btn">
            <div>
              <input
                type="submit"
                value="Log-In"
                class="button login-btn1"
              />
            </div>
            <div>
              <input
                type="button"
                value="Forgot your password?"
                class="button forgot-password"
                onclick="window.location.href = ''"
              />
              <br />
            </div>
          </div>
          
          <p>
            <center>Not a member?</center>
          </p>
          <div class="flex buttons signup-btns">
            <div>
              <input type="button" value="Sign-Up as a student" class="button signup-btn" onclick="redirectToSignUp('student')" />
            <input type="button" value="Sign-Up as an Instructor" class="button signup-btn" onclick="redirectToSignUp('instructor')" />
          </div>
            </div>
          </div>
          <br />
        </div>
      </form>
    </div>
    <%- include('footer.ejs') %>
  </body>

</html>
