<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Sign-Up | TutorMeister</title>
    <link rel="stylesheet" href="css/signUp.css" />
    <link rel="icon" href="img/logo.jpg" type="image/jpg" />
  </head>
  <body>
    <div class="containerStd">
      <form
        id="signupForm"
        action="/student-register"
        method="post"
        class="form"
      >
        <div class="row">
          <div class="flex">
            <img
              class="home-logo-img-stSignup"
              src="img/RectangleLogo.png"
              alt="HomePageLogo"
            />
          </div>
          <h3 class="heading-stSignup">Sign-Up As a Student</h3>
          <div class="flex1">
            <div>
              <input
                type="text"
                name="stufirstname"
                class="inputbox name"
                placeholder="First Name"
              />
            </div>
            <div>
              <input
                type="text"
                name="stulastname"
                class="inputbox name"
                placeholder="Last Name"
              />
            </div>
          </div>
          <br />
          <center>
            <input
              type="text"
              name="stuusername"
              class="inputbox details"
              placeholder="User Name"
            />
          </center>
          <br />
          <center>
            <input
              type="text"
              name="stucountry"
              class="inputbox details"
              placeholder="Country"
            />
          </center>
          <br />
          <center>
            <input
              type="email"
              name="stuemail"
              class="inputbox details"
              placeholder="Email"
            />
          </center>
          <br />
          <center>
            <input
              type="password"
              name="stupassword"
              class="inputbox details"
              placeholder="Create password"
            />
          </center>
          <br />
          <div class="flexPage2">
            <div class="flexLabel">
              <label class="label-eduQual">Educational Qualification:</label>
            </div>
            <div class="flexLabel2">
              <select
                id="eduQual"
                name="eduQual"
                class="educational-qualification"
              >
                <option value="" disabled selected>Choose an option</option>
                <option value="school">School</option>
                <option value="higherEducation">Higher Education</option>
                <option value="undergraduate">Undergraduate</option>
                <option value="graduated">Graduated</option>
              </select>
            </div>
          </div>
          <div class="flexPage2">
            <div class="flexLabel">
              <label class="label-eduQual">Preferred Learning Style:</label>
            </div>
            <div class="flexLabel2">
              <select
                id="eduQual"
                name="learningStyle"
                class="educational-qualification"
              >
                <option value="" disabled selected>Choose an option</option>
                <option value="visual">Visual</option>
                <option value="auditory">Auditory</option>
                <option value="kinesthetic">Kinesthetic</option>
              </select>
            </div>
          </div>
          <div class="flexPage2">
            <div class="flexLabel">
              <label class="label-eduQual">Learning Pace:</label>
            </div>
            <div class="flexLabel2">
              <select
                id="eduQual"
                name="learningPace"
                class="educational-qualification"
              >
                <option value="" disabled selected>Choose an option</option>
                <option value="slow">Slow</option>
                <option value="average">Average</option>
                <option value="fast">Fast</option>
              </select>
            </div>
          </div>
          <div class="flexPage2">
            <div class="flexLabel">
              <label class="label-eduQual">Learning Style:</label>
            </div>
            <div class="flexLabel2">
              <select
                id="eduQual"
                name="isGroup"
                class="educational-qualification"
              >
                <option value="" disabled selected>Choose an option</option>
                <option value="oneOnOne">One-on-one</option>
                <option value="group">Group</option>
                <option value="both">Both</option>
              </select>
            </div>
          </div>
          <div class="flexPage2">
            <div class="flexLabel">
              <label class="label-eduQual">Learning Mode:</label>
            </div>
            <div class="flexLabelRadio">
              <div class="optionGroup">
                <input
                  type="radio"
                  id="inPerson"
                  name="learningMode"
                  value="inPerson"
                  class="radioButton"
                />
                <label for="inPerson">In person</label>
              </div>
              <div class="optionGroup">
                <input
                  type="radio"
                  id="online"
                  name="learningMode"
                  value="online"
                  class="radioButton"
                />
                <label for="online">Online</label>
              </div>
            </div>
          </div>
          <div class="flexPage2">
            <div class="flexLabel">
              <label class="label-eduQual">Learning Preferences:</label>
            </div>
            <div class="flexLabel2">
              <input
                type="text"
                name="additionalText"
                class="richText"
                placeholder=""
              />
            </div>
          </div>
          <div class="flex3">
            <div class="flexBox">
              <input
                type="button"
                value="Sign-Up as an instructor"
                class="button signInstructor-btn"
                onclick="window.location.href = '/instructor-register'"
              />
            </div>

            <div class="flexBox">
              <input
                type="submit"
                value="Register"
                class="button register-btn"
              />
            </div>
          </div>
          <div class="flex4">
            <div>
              <input
                type="button"
                value="Already have an account? Log-In"
                class="button login-btn"
                onclick="window.location.href = '/login'"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
