.nav-logo{
    width: 150px;
}

.navBar{
    background: #222629;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 0 10rem;
    z-index:100;
    
}

.navLogoLink{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;

    &.active{
        color:#9EE493;
    }
}

.navLink{
    color: #fff;
    text-decoration: none;
    padding: 0 1rem; /* Add padding for spacing between links */
    height: 100%;
    cursor: pointer;
    display: inline-block; /* Set the display to inline-block */

    &.active {
        color: #9EE493;
    }

    &:hover {
        color: #56974c;
        transition: 200ms ease-in;
    }
}

.bars{
    display: none;
    color: #fff;

    @media screen and (max-width: 760px){
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}

.navMenu{
    display: flex;
    align-items: center;

    @media screen and (max-width: 780px){
        display: none;
        background: none;
        flex-direction: column;
        align-items: center;
        width: 85%;
        background-color:#222629;
        position: absolute;
        left: 0;
        height: 50vh;
    }
}

.navMenu.show {
    display: flex;
}

.navBtn{
    display: flex;
    align-items: center;
    margin-right:24px;

    @media screen and (max-width: 780px){
        display: none;
    }
}

.navBtn.show {
    display: flex;
}

.navBtn.hide {
    display: none;
}

.navBtnLink{
    border-radius: 8px;
    background: #9EE493;
    padding: 9px 20px;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;

    &:hover{
        transition: all 0.2s ease-in-out;
        background:  #56974c;
        color: #fff
    }
}