.containerCourse {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 2%;
}

.containerCourse-formCourse {
  width: 40%;
}

.container-formCourse{
  width: 45%;
}

.flatpickr {
  margin-left: 39%;
  margin-top: 5%;
 }

.formCourse {
  width: 100%;
  background: #ffffff;
  border: 2px solid black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 6%;
  border-radius: 8px;
  color: #000000;
}

/* #datepicker {
  margin-left: 10%;
} */
.flexRate {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  
}

.flex-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 50%;
}

h4 {
  font-size: 2rem;
  padding-left: 0%;
  padding-right: 5%;
  text-align: left;
  font-weight: bolder;
}
.label {
  font-weight: bold;
}

.labelDate {
  font-size: 1.5rem;
  margin-left: 10%;
  margin-right: 20%;
}

.labelDateTime {
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 20%;
  
}

.labelpro1 {
  margin-top: 90%;
  font-size: 1.5rem;
}

.labelpro2 {
  margin-top: 1%;
  font-size: 1.5rem;
}

.labelpro2 {
  margin-bottom: 90%;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

.labelpro {
  margin-top: 10%;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}
.notify-btns {
  padding: 10px 50px;
}

.notify-btn1 {
  margin-left: 1%;
  margin-top: 5%;
  width: 50%;
  background-color: #9ee493;
  color: #000000;
  padding: 10px 20px;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #56974c;
    color: #fff;
  }
}

.profile {
  width: 60%;
  height: 380px;
  align-self: start;
  border-radius: 4%;
  margin-right: 200px;
  border: 2px solid black;
  background-color: white;
}

.profile1 {
  width: 50%;
  height: 25%;
  align-self: start;
  border-radius: 4%;
  margin-right: 10%;
  border: 2px solid black;
  background-color: white;
}

.profile2 {
  width: 30%;
  height: 45%;
  align-self: start;
  border-radius: 4%;
  margin-right: 20%;
  border: 2px solid black;
  background-color: white;
}

.profile-container {
  margin: 5%;
}

.profile-image {
  width: 30%;
  height: 30%;
  
  margin-left: 35%;
  margin-top: 5%;
}

.profile-item {
  margin-bottom: 2%;
  flex-direction: row;
}

.profile-itemTime{
  margin-bottom: 1%;
  margin-right: 5%;
 
}

/* .profile-itemdate {
  margin-top: 60px;
} */

.rate-btn {
  background-color: #9ee493;
  color: #000000;
  padding: 10px 50px;
  cursor: pointer;
  justify-content: space-between;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: #56974c;
    color: #fff;
  }
}

.ratingA{
  display: flex;
  justify-content: flex-end;
   /* remove inline-block whitespace */
   font-size: 0;
   /* flip the order so we can use the + and ~ combinators */
   unicode-bidi: bidi-override;
   direction: rtl;
   /* the hidden clearer */
}
.ratingA * {
  font-size: 2rem;
}
.ratingA > input {
  display: none;
} 
.ratingA > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.ratingA > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.ratingA > input:checked ~ label:before, .ratingA > input + label:hover ~ label:before, .ratingA > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.ratingA > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.ratingA > .star-cb-clear + label:before {
  width: .5em;
}
.ratingA:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.ratingA:hover > input + label:hover ~ label:before, .ratingA:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.feedbackBox{
  width: 100%;
}
.review {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  text-align: left;
  text-align: justify;
}

video {
  display: block;
  width: 95%;
  padding-left: 0%;
  padding-right: 5%;
}

/* footer */
.home-footer {
  height: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 1px;
  height: 90px;
  background-color: #cad2d7;
  position: absolute;
}

.home-footer a {
  font-size: 16px;
  color: #000000;
}
.home-footer p {
  font-size: 16px;
}

.home-footer ul {
  display: flex;
}

.home-footer li {
  list-style-type: none;
  padding-left: 250px;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .containerCourse {
    /* flex-direction: column;  */
    /* Change to a column layout on smaller screens */
    padding: 50px; /* Adjust padding for smaller screens */
  }

  .profile,
  .profile1 {
    width: 100%; /* Make profiles full width on smaller screens */
    margin-right: 0; /* Remove margin on smaller screens */
  }
}
